extends layout

block content
  h1= title
  div#stepOne
    p People:
    p.result
    button Post Sean
  div#stepTwo
    p Person just created:
    p.result
    button Modify Sean
  div#stepThree
    p Person just modified:
    p.result
    button Delete Sean
